-f https://download.pytorch.org/whl/torch_stable.html
APScheduler==3.6.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Pillow==8.2.0
pipreqs==0.4.10
pyTelegramBotAPI==3.7.7
python-telegram-bot==13.4.1
pytz==2021.1
requests==2.25.1
six==1.15.0
torch==1.8.1+cpu
torchvision==0.9.1+cpu
urllib3==1.26.4
yarg==0.1.9
