<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HotDog or Not HotDog?</title>
  </head>

  <div class="container">
  <h2>Howdy, human!</h2>
	<p><h5> This is <strong> <a style="color: #000000" href=https://t.me/not_hotdog_bot/>@not_hotdog_bot</a></strong>
    that identifies whether on photo hot dogs and not hotdogs using transfer learning (ResNet50). Inspired by the HBO show Silicon Valley
	</h5>
</div>


<!--  <body>-->
<!--    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>-->
<!--  </body>-->
</html>
